@using SemFinance.Model
@model Transaction

<div class="form-group">
    <label class="control-label">Name</label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="control-label">Description</label>
    <input asp-for="Description" class="form-control" />
    <span asp-validation-for="Description" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="control-label">Transaction type</label>
    <select asp-for="TransactionType" class="form-control" asp-items="@Html.GetEnumSelectList<TransactionType>()"></select>
    <span asp-validation-for="TransactionType" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="control-label">Amount</label>
    <input asp-for="Amount" class="form-control" />
    <span asp-validation-for="Amount" class="text-danger"></span>
</div>
<div id="currency-field" class="form-group">
    <label class="control-label">Currency</label>
    <select asp-for="CurrencyId" asp-items="ViewBag.PossibleCurrencies" class="form-control"></select>
    <span asp-validation-for="CurrencyId" class="text-danger"></span>
</div>
<div class="form-group">
	<label class="control-label">Date of transaction</label>

	<div class="input-group date" data-provide="datepicker" data-date-format="@ViewBag.datePickerPattern">
        <input asp-for="DateOfTransaction" asp-format="{0:@ViewBag.dateFieldPattern}" type="text" class="form-control" />
        <div class="input-group-addon"></div>
    </div>
	<span asp-validation-for="DateOfTransaction" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="control-label">Account</label>
    <select onChange="onAccountChange(this.value);" asp-for="AccountID" asp-items="ViewBag.PossibleAccounts" class="form-control"></select>
</div>
<div class="form-group py-3">
    <input type="submit" value="Save" class="btn btn-outline-success" />
</div>
